main {
    justify-content: center;
    display:flex;
}

body {
    text-align:center;
}

.btn {
    padding:3px;
    margin:5px;
    background-color: white;
    border: 1.5px dashed black;
}

.count_result {
    color: grey;
}
